@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
header{
    background-color: #ffc017;
    display: flex
;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 215px;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}


ul a{
    text-decoration: none;
    color: black;

}
.btn{
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 15px 30px;
}
.main-section {
    display: flex;
    justify-content: space-around;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}
.tittle-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap:50px;
    padding-left: 14%;
    flex-grow: 1;
}
h1{
    font-size:70px;
    font-family: "Spectral", serif
}
section .btn{
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container-div span {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    
}
.first-container{
    width: 80%;
    margin: 20px auto;
    margin-top: 80px;
    position: relative;
    
}

.first-container-div{
    position: absolute;
    top: -48%;
    left: 8%;
}
.row img {
    border-radius: 50%;
    height: 30px;
}

i {
    color: lightgray;
    font-weight: bold;
    font-size: 30px;
}
h2{
    font-weight: bold;

}
h6{
    font-weight: bold;
    font-size: 13px;
}
small {
    color: gray;
}
.autor {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 18px;
    width: 300px;
    
    
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.row{
    display: flex;
    gap: 20px;
}
.row-line{
    display: flex;
    align-items: center;
    gap: 10px;
} 
.article-header{
        display: flex;
        justify-content: space-evenly;
       margin-bottom: 50px;
       
}
small{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
small img{
    width: 30px;
}
h6 small{
    color: grey;
    display: inline;

}
hr{
    width: 100%;
    color: gray;
}
#bottom-section{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}
.row-line img {
    border-radius: 50%;
    height: 30px;
}
#bottom-section p{
    color: gray;
    margin: 10px 0;

}
#bottom-section small{
    display: flex;
    justify-content: flex-start;
}
small button{
    border-radius: 30px;
    border: none;
    background-color: lightgray;
    padding: 4px 8px;
}
#bottom-section h2{
    margin:10px 0;
    font-size: 20px;

    
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
}
.card img:nth-child(5){
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-and-img{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.small{
    height: 160px;


}
.asside-buttons{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    width: 400px;
    height: 150px;
    align-content: space-evenly;
    margin-bottom: 15px;
    gap: 8px;
    
}
.asside-buttons button{
    padding: 8px;
    color: #7A7C79;
    background-color: white;
    border: 1px solid#7A7C79;
    border-radius: 3px;
    
}
.links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.links a{
    text-decoration: none;
    color: #7A7C79;
    padding: 3px;
}
.footer-wannabe{
    position: absolute;
    right:10%;
}